<h1>New User Form</h1>

  
<%= form_for @user do |f| %>
  
  <%= f.label 'Username:' %>
  <%= f.text_field :username %><br><br>

  <%= f.submit "Submit" %>

  <%= link_to "Home", users_path %>
<% end %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>